.filter-select {
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 16px;
  float: right;
}

@media (max-width: 768px) {
  .filter-select {
    margin-top: 40px;
    float: left;
  }
}
