.search-input {
  width: 100%;
  border: none;
  padding: 15px 15px 15px 40px;
  border-radius: 5px;
  display: inline-block;
}

.search-input-container {
  position: relative;
}

.search-icon {
  height: 25px;
  width: 25px;
  position: absolute;
  top: 28%;
  left: 10px;
}
